body{
    margin: 0px auto;
    max-width: 500px;
    background-image: linear-gradient(#2e9ead, #236562);
    color: aliceblue;
}

.container{
    margin: 3rem;
/*     margin-top: -5%; */
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    line-height: 2rem;
    background-image: linear-gradient(#173140bf, mediumturquoise);
    font-family: Lucida Calligraphy;
}

.title{
    text-decoration: underline;
    font-family: Harrington;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 0;
}

.city-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.7;
}

.city {
    width: 100%;
    height: 3rem;
    text-align: center;

    border: 1px solid cadetblue;
    border-radius: 30px;
    outline: none;

    color: cadetblue;
    opacity: 0.9;
    font-size: 15px;
    font-weight: 600;
    font-family: Lucida Sans Unicode;
}

.d-none{display: none;}

.pic{width: 100%; border-radius: 10%;}

.city-weather{font-size: 2rem;}
.weather-temp{font-size: 1.5rem;}

.card, .details{
    animation-name: moveDown;
    animation-duration: 1.2s;
    display: block;
}

@keyframes moveDown{

    0%{
        opacity: 0;
        transform: translateY(-200px);
    }

    60%{
        opacity: 0.4;
    }

    100%{
        opacity: 0.7;
        transform: translateY(0);
    }
